@using Newtonsoft.Json;
@model SearchResponse
@{
    Layout = "_Layout";
}


@if (Model.MatchedPositions != null)
{
    <div class="container">
        <h5>
            @Model.MatchedPositions.Count result(s) found for: @Model.ExpectedUri at following positions:
        </h5>

        @*<h1 data-bind="text: Keywords"></h1>*@
        <div>
        <table>
            <thead>
                <tr><th>Positions</th></tr>
            </thead>
            <tbody data-bind="foreach: MatchedPositions">
                @foreach (var position in Model.MatchedPositions)
                {
                    <tr>
                        <td data-bind="text: $data">@position</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

        @*<table>
            <thead>
                <tr><th>Positions</th></tr>
            </thead>
            <tbody data-bind="foreach: MatchedPositions">
                    <tr>
                        <td data-bind="text: $data">@position</td>
                    </tr>
            </tbody>
        </table>*@

        @*<ul>
            @foreach (var position in Model.MatchedPositions)
            {
                <li>Position: @position</li>
            }
        </ul>*@

        @*<table class="table-bordered">
            <tbody>
                @foreach (var position in Model.MatchedPositions)
                {
                    <tr class="active">
                        <td>Position:</td>
                        <td>@position</td>
                    </tr>
                 }
            </tbody>
        </table>*@
    </div>

    <div class="container">
        <h5>Top 3 Matches All Time</h5>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>HitCount</th>
                    <th>TopPosition</th>
                    <th>DateTime UTC</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: QueryResults">
               @foreach (var result in Model.QueryResults)
               {
                <tr>
                    <td data-bind="text: Hits">@result.Hits</td>
                    <td data-bind="text: TopPosition">@result.TopPosition</td>
                    <td data-bind="text: DateTimeUtc">@result.DateTimeUtc</td>
                </tr>
               }
            </tbody>
        </table>
    </div>
    <script src="~/lib/knockout/knockout-3.5.1.js"></script>
    <script type="text/javascript">

    var viewModel = @Html.Raw(JsonConvert.SerializeObject(ViewData["Request"]));
    ko.applyBindings(viewModel);

    </script>
}